<div class="content" [formGroup]="fromGroup">
  <div class="text-box">
    <span class="text">ToDO list</span>
  </div>

  <div class="actions">
    <span class="text">Добавить человека</span>
    <div class="action-block">
      <span class="text">ФИО: </span>
      <dx-text-box width="68%"
                   class="action-text-box"
                   placeholder="Введите ФИО"
                   formControlName="name">
      </dx-text-box>
    </div>

    <div class="action-block">
      <span class="text">Дата рождения: </span>
      <dx-text-box width="68%"
                   class="action-text-box"
                   placeholder="Введите дату рождения"
                   formControlName="birthDate"></dx-text-box>
    </div>

    <div class="action-block">
      <dx-button  [disabled]="!fromGroup.valid"
                  class="action-button"
                  (onClick)="addPerson()">
        Добавить
      </dx-button>
    </div>
  </div>

  <div class="actions" *ngIf="people.length !== 0">
    <div class="action-block">
      <span class="text">Список людей</span>

      <dx-button  *ngIf="showPeople"
                   icon="minus"
                  (onClick)="changeView()">
      </dx-button>
      <dx-button  *ngIf="!showPeople"
                   icon="plus"
                  (onClick)="changeView()">
      </dx-button>
    </div>
    <dx-data-grid [dataSource]="people"
                  [rowAlternationEnabled]="true"
                  showBorders = "true"
                  (onRowUpdated)="changePerson($event)"
                  class="action-text-box">
      <dxo-editing mode="cell"
                   [allowUpdating]="true">
      </dxo-editing>
      <dxi-column width="50px"
                  dataField="id"
                  caption=""
                  cellTemplate="deleteColumn">
      </dxi-column>
      <dxi-column caption="Имя"
                  dataField="name">
      </dxi-column>
      <dxi-column caption="Дата рождения"
                  dataField="birthDate">
      </dxi-column>
      <dxi-column width="50px"
                  dataField="id"
                  caption=""
                  cellTemplate="taskColumn">
      </dxi-column>

      <div *dxTemplate="let data of 'deleteColumn'">
        <dx-button (onClick)="deletePerson(data)"
                    icon="trash">
        </dx-button>
      </div>

      <div *dxTemplate="let data of 'taskColumn'">
        <dx-button (onClick)="openTasksDialog(data)"
                   icon="event">
        </dx-button>
      </div>

    </dx-data-grid>
  </div>
</div>
