<div class="content" [formGroup]="fromGroup">
  <div class="text-box">
    <span class="text">ToDO list</span>
  </div>

  <div class="actions">
    <span class="text">Добавить человека</span>
    <div class="action-block">
      <span class="text">ФИО: </span>
      <dx-text-box width="68%"
                   class="action-text-box"
                   placeholder="Введите ФИО"
                   formControlName="name">
      </dx-text-box>
    </div>

    <div class="action-block">
      <span class="text">Дата рождения: </span>
      <dx-text-box width="68%"
                   class="action-text-box"
                   placeholder="Введите дату рождения"
                   formControlName="birthDate"></dx-text-box>
    </div>

    <div class="action-block">
      <dx-button  [disabled]="!fromGroup.valid"
                  class="action-button"
                  (onClick)="addPerson()">
        Добавить
      </dx-button>
    </div>
  </div>

  <div class="actions" *ngIf="people.length !== 0">
    <div class="action-block">
      <span class="text">Список людей</span>

      <dx-button  *ngIf="showPeople"
                   icon="minus"
                  (onClick)="changeView()">
      </dx-button>
      <dx-button  *ngIf="!showPeople"
                   icon="plus"
                  (onClick)="changeView()">
      </dx-button>
    </div>

    <div *ngFor="let person of people">
        <div class="action-block" *ngIf="showPeople">
          <div>
            <dx-button (onClick)="deletePerson(person)"
                       icon="trash"
                       width="50px"
                       height="50px">
            </dx-button>
            <span class="name-text">{{person.name}}</span>
          </div>

          <span class="text">{{person.birthDate + 'г.'}}</span>
          <dx-button icon="event"
                     width="50px"
                     height="50px"
                     (onClick)="openTasksDialog(person)">
          </dx-button>
        </div>
    </div>
  </div>
</div>
