.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 800px;
  border-radius: 8px;
}
.text-box {
  display: flex;
  justify-content: center;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 10px;
}
.actions {
  border-style: groove;
  display: flex;
  flex-direction: column;
}
.action-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.action-button {
  height: 50px;
  width: 30%;
  margin: 10px
}
.name-text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 10px 10px 10px;
}
.action-text-box{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
.sort {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}
.sort-button{
  transform: rotate(180deg);
}
